.main-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.main-container > h2{
  text-align: center;
  margin: 15px 0;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 1.5rem;
}

.news-container{
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.new{
  margin-right: 15px;
  align-items: center;
  justify-content: center;
  text-decoration: none;

}
.new *
{
  color: black;
}
.new a:visited
{
  color: black;
}

.new h3
{
  font-weight: bold;
  margin-top: 10px;
}
.new a{
  transition: all .6s;
  opacity: 0.75;
}

.new a:hover
{
  opacity: 1;
}

.new img{
  width: 100%;
}
.tite-descript{
  font-size: 1.2rem;
  margin-top: 30px;
}
.tite-descript span
{
  margin-right: 10px;
}

.info{
  margin: 20px auto;
  padding: 0 10px;
}
.info h2{
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 1.5rem;
}

.info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.info_description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  font-size: 1.1rem;
  width: 50%;
}
.info_description h5{
  margin: 10px 0;
  font-weight: bold;
}
.info_description p{
  font-style: italic;
  word-spacing: 5px;
}
.info_description a{
  justify-content: right;
  max-width: 50%;
  margin-top: 20px;
}
.info-img{
  width: 30%;
  align-content: center;
  justify-content: center;
}
.another
{
  display: flex;
  flex-direction: column;

}
@media screen and (max-width: 1000px){
  .news-container{
    flex-direction: column;
  }
  .new{
    text-align: center;
  }
  .new img{
    width: 80%;
  }
  .info-container{
    flex-direction: column;
  }
  .info_description{
    width: 100%;
  }
  .info-img{
    width: 50%;
  }
}

@media screen and (max-width: 500px){
  .news-container{
    flex-direction: column;
  }
  .new{
    text-align: center;
  }
  .new img{
    width: 100%;
  }
  .info-container{
    flex-direction: column;
  }
  .info_description{
    width: 100%;
  }
  .info-img{
    width: 80%;
  }
}
